img{
    width: 300px;
}
.maindiv {
    background-color: rgba(151, 199, 255, 0.582);
    margin: 20px auto;
    padding: 20px;
}
.heading{
    margin: o auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div p{
    text-align: center;
    font-size: 20px;
    width: 700px;
    display: block;
    margin: auto;
    
}
img{
    margin: auto;
    display: block;
    width: 800px;
    height: 400px;
    border-radius: 20px;
}
button{
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: #f85437;
    height: 30px;
    width: 200px;
    border: 2px solid white;
    border-radius: 15px;
    color: white;

}
.bandarban-div {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
    border: 2px solid white;
    border-radius: 20px;
}
.a a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #f85437;
}

.a{
    height: 30px;
    width: 200px;
}
.ok{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.form-div{
    width: 700px;
    margin: 40px auto;
}
form{
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
}
h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1200;
}